*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
:root{
    --cor1:#080708;
    --cor2:#3772FF;
    --cor3:#DF2935;
    --cor4:#FDCA40;
    --cor5:#E6E8E6;
}
header{
    padding: 20px;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: var(--cor1);
    color: var(--cor5);
}
nav{
   background-color: var(--cor2);
   padding:1px 0;
   position: sticky;
   top: 0px;
}
 nav a{
    width:90% ;
    text-align: center;
}
nav ul{
    display: flex;
    background-color: red;
    position: relative;
}
nav ul li{
    display: flex;
    list-style: none;
    background-color: #080708;
    width: 100%;
    justify-content: space-around;
    border: var(--cor2) solid 1px;
    position: relative;
}
mark{
    background-color: #3772FF;
}
 a span{
    color:var(--cor2);
}
#c,#q,#r,#t{ 
    width: 100%;
    height: 100%;
    padding: 20px;
}
#t:hover{
    color: #FDCA40;
    animation: c 3s linear infinite;
}
#c:hover{
    color: #FDCA40;
    animation: c 3s linear infinite;
}
#q:hover{
    color: #FDCA40;
    animation: c 3s linear infinite;
}
#r:hover{
    color: #FDCA40;
    animation: c 3s linear infinite;
}
@keyframes c{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
main{
    padding: 10px;
    background-color: var(--cor5);
}
.retangulo, .circulo, .quadrado, .triangulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 95vh;
}
.rretangulo, .rquadrado, .rtriangulo, .rcirculo{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    color: var(--cor3);
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    line-height: 5vh;
    padding: 10px;
}

.retangulo h2, .circulo h2, .quadrado h2, .triangulo h2{
    background-color: #FDCA40;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #fefffe;
    letter-spacing: 0.2em;
    border-radius: 5px;
}
.retangulo p, .circulo p, .quadrado p, .triangulo p{
    margin: 20px 0px;
}
.formula{
    color: #DF2935;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}
.texto{
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.digite1,.digite2{
    color: var(--cor2);
}
input{
    padding:10px;
    width: 30%;
    margin: 10px 0px;
}
strong{
    color: #000;
    letter-spacing: 0.2em;
}
.botao{
    padding: 10px;
    margin: 20px 0 ;
    width: 40%;
    border-radius: 5px;
    font-size: 1.2em;
    background-color:var(--cor4);
    color: var(--cor1);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.botao:hover{
    background-color: #dca100;
}
@media (min-width:100px){
    body{
        background-color: #080708;
    }
}
footer{
    color: var(--cor4);
    padding: 20px;
    font-size: 1.2em;
}
